<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="https://www.falabella.com/falabella-cl/" target="_blank">Saga Falabella</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://www.viajesfalabella.cl/" target="_blank">Viajes Falabella</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://web.segurosfalabella.com/cl/" target="_blank">Seguros Falabella</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://www.sodimac.cl/sodimac-cl/" target="_blank">Sodimac</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://www.tottus.cl/" target="_blank">Tottus</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" target="_blank">Maestro</a>
            </li>
        </ul>
    </div>
</nav>