<app-navbar-landing></app-navbar-landing>
<div class="landing">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 position-relative textBox">
                <div class="texto1">
                    Tu Cuenta Corriente<br>
                    <strong>100% on line</strong>
                </div>

                <div class="logos d-none d-md-block">
                    <app-logos></app-logos>
                </div>
            </div>
            <div class="form col-6 col-md-6">
                <app-formulario></app-formulario>
            </div>
        </div>
    </div>
</div>