.renta {
    background-image: url("../../../../../assets/fondo-renta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc( 100vh - 68px);
}

.renta .texto1 {
    text-align: left;
    line-height: 1.2;
    font-size: 40px;
    font-weight: 300;
    padding-left: 40px;
    padding-top: 58px;
    color: #ffffff;
}

.renta .texto1 strong {
    font-weight: 700;
}

.renta .form {
    margin-top: 81px;
}

.renta .logos {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 5px 0 0 5px;
    padding: 16px;
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 54px;
    margin-right: -2rem;
}

@media screen and ( max-width: 767px) {
    .renta {
        background-image: url("../../../../../assets/fondo-renta.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 240px;
    }
    .renta .form {
        margin-top: 170px;
    }
}